.square-width-30 {
  width: 24vw;
  height: 24vw;
  min-width: 250px;
  min-height: 250px;
  max-width: 300px;
  max-height: 300px;
}

.circle-inv {
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.25s ease-in-out;
}

.inner-circle-inv {
  border: 4px solid rgb(247, 247, 247, 0.7);
  border-radius: 100%;
  background-color: rgb(247, 247, 247, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
  color: white;
  transition: all 0.25s ease-in-out;
  width: 22.5vw;
  height: 22.5vw;
  min-width: 235px;
  min-height: 235px;
  max-width: 285px;
  max-height: 285px;
  font-family: 'Raleway', sans-serif;
}

.circle-inv-dark {
  border: 2px solid rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.25s ease-in-out;
}

.inner-circle-inv-dark {
  border: 4px solid rgba(24, 24, 24, 0.7);
  border-radius: 100%;
  background-color: rgba(24, 24, 24, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
  color: white;
  transition: all 0.25s ease-in-out;
  width: 22.5vw;
  height: 22.5vw;
  min-width: 235px;
  min-height: 235px;
  max-width: 285px;
  max-height: 285px;
  font-family: 'Raleway', sans-serif;
}

.first-text {
  font-family: 'Pinyon Script', cursive;
}

.counter-container {
  text-align: center;
  margin: 94px auto 38px;
  width: 430px;
  padding: 20px 0 40px;
  position: relative;
  white-space: nowrap;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  z-index: 0;
}

.counter-container:before {
  content: 'Faltan';
  position: absolute;
  color: rgb(43, 43, 43);
  top: -30px;
  width: 160px;
  display: block;
  font-size: 2.5rem;
  left: 50%;
  margin-left: -80px;
  font-family: 'Pinyon Script', cursive;
}

.counter-container > div {
  color: rgb(179, 148, 127);
  text-align: center;
  font-size: 42px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0 16px;
}

.counter-container > div:before {
  content: 'Dias';
  position: absolute;
  font-size: 18px;
  bottom: -20px;
  text-align: center;
  width: 100%;
}

.counter-container > div:nth-child(2):before {
  content: 'Horas';
}
.counter-container > div:nth-child(3):before {
  content: 'Mins';
}
.counter-container > div:nth-child(4):before {
  content: 'Segs';
}

.gallery-container {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 57px,
    rgba(207, 178, 163, 0.1) 57px,
    rgba(207, 178, 163, 0.1) 114px
  );
  background-color: #e7e5e4;
}

.slider-img {
  outline: 3px solid black;
  outline-offset: -15px;
  border: 5px solid black;
  margin-bottom: 1rem;
}

.card-header {
  border: 2px solid #b3947f;
}

@media (max-width: 500px) {
  .counter-container {
    width: 350px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 400px) {
  .counter-container {
    width: 300px;
  }

  .counter-container:before {
    font-size: 2rem;
    top: -25px;
  }

  .counter-container > div {
    font-size: 36px;
  }

  .counter-container > div:before {
    font-size: 14px;
  }

  .slider-img {
    outline: 1px solid black;
    outline-offset: -7px;
    border: 3px solid black;
    margin-bottom: 1rem;
  }
}
