.circle {
  border-radius: 100%;
  border: 5px solid rgb(255, 255, 255);
  height: 300px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  transition: all 0.25s ease-in-out;
  animation: shakeme 4s infinite;
}

.circle::after {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid rgb(255, 255, 255);
  height: 280px;
  width: 280px;
  border-radius: 100%;
}

.circle:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  cursor: pointer;
}

.circle-letters {
  font-family: 'Pinyon Script', cursive;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 6px;
}

@keyframes shakeme {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1.07);
  }
  30% {
    transform: scale(1.05);
  }
}
